@import url(import.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jacques Francois", serif;
}

body {
    height: 100vh;
    background-image: url(../img/d8515f6560eb8a1c3da1ab7d721c43c039af0ee9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background: transparent;
}

.caixa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background: #591902;
    border-radius: 0 10px 10px 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
}

.caixa h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 200;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}

.caixa .caixa-input {
    position: relative;
    margin-bottom: 30px;
}

.caixa .caixa-input input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: black;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #D9D9D9;
}

.caixa .caixa-input label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: black;
    pointer-events: none;
    transition: 0.3s;
    background-color: transparent;
}

.caixa .caixa-input input:focus+label,
.caixa .caixa-input input:valid+label {
    top: -14px;
    left: 10px;
    font-size: 12px;
    color: #A66E4E;
    background: transparent;
    padding: 0 4px;
}

.caixa button {
    margin: 25px 0 10px;
    padding: 5px 20px;
    width: 40%;
    font-size: 16px;
    border-radius: 16px;
    background: #BFA98E;
    border: none;
    transition: background 0.3s;
}

.caixa button:hover {
    background: #A66E4E;
    color: white;
}

.nao__tem {
    text-align: end;
    margin-top: 2px;
    color: #A66E4E;
    font-size: 14px;
}

.nao__tem a {
    color: #fff;
    text-decoration: none;
}

.caixa form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 500px) {
    .caixa {
        padding: 30px 20px;
    }

    .caixa h2 {
        font-size: 26px;
    }
}